@media(min-width:320px) and (max-width:390px) {
    .navigation {
        display: none;
    }
    #what-we-do {
        .headings {
            .sub-heading {
                font-size: 1.5rem;
            }
        }
        .services {
            margin: 0;
            flex-direction: column;
            flex-wrap: wrap;
            max-width: 80vw;
        }
    }
    #why-choose-us {
        flex-direction: column;
        .headings {
            max-width: 100vw;
        }
        .principles {
            max-width: 100vw;
        }
    }
}

@media(min-width:1000px) and (max-width:1400px) {
    .owl-carousel .owl-item .slide .slider-card {
        bottom: 10%;
    }
    #home {
        .home-col-one {
            width: 15%;
            .home-heading {
                font-size: 2rem;
            }
        }
        .home-col-two {
            width: 65%;
            .design-philosophy-heading,
            .core-values-heading,
            .our-services-heading {
                font-size: 1.4rem;
            }
            .core-values-principles {
                .values {
                    .value {
                        flex-basis: 30%;
                        .fas {
                            font-size: 2rem;
                        }
                        .value-name {
                            font-size: 1rem;
                        }
                    }
                }
            }
            .our-services {
                .services {
                    .service {
                        flex-basis: 33%;
                        .fas {
                            font-size: 2rem;
                        }
                        .service-name {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
    /* #about {
        .about-hero {
            .about-hero-text {
                padding: 1rem 1rem 2rem 1rem;
                max-width: 15vw;
            }
        }
        .principal-architect-container {
            padding: 10rem 2rem;
            .principal-architect-heading {
                width: 60vw;
            }
            .principal-architect {
                .principal-architect-content {
                    width: 50vw;
                }
            }
            .principal-architect-image {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }
    } */
    #team {
        .team-col-one {
            width: 15%;
            .team-heading {
                font-size: 2rem;
            }
        }
        .team-col-two {
            width: 70%;
            .about-enad-heading {
                font-size: 1.4rem;
            }
            .principal-architect-container {
                .principal-architect {
                    flex-direction: column;
                    align-items: center;
                    .principal-architect-image {
                        img {
                            max-width: 300px;
                        }
                    }
                    .principal-architect-content {
                        width: 100%;
                    }
                }
            }
            .team-members {
                align-items: center;
                flex-direction: column;
                .core-team,
                .associates {
                    flex-wrap: wrap;
                    flex-direction: row;
                    justify-content: space-evenly;
                    .team-card-container {
                        width: 100%;
                        .team-card {
                            flex-basis: 32%;
                            .member-image {
                                max-width: 150px;
                            }
                            .member-detail {
                                h4 {
                                    font-size: 0.9rem;
                                }
                                p {
                                    font-size: 0.8rem;
                                }
                            }
                        }
                    }
                }
                .associates{
                    .team-card{
                        flex-basis: 40%!important;
                    }
                }
            }
        }
    }
    #footer {
        min-height: 20vh;
        .contact {
            min-height: 20vh;
            flex-direction: column;
        }
    }
}

@media(min-width:1401px) and (max-width:1500px) {
    .owl-carousel{
        .owl-item{
            .slide{
                .slider-card{
                    bottom: 5%;
                }
            }
        }
    }
    #home{
        .home-col-one{
            width: 15%;
        }
    }
    #team {
        .team-col-one {
            width: 15%;
            
        }
        .team-col-two {
            width: 70%;
            .about-enad-heading {
                font-size: 1.8rem;
            }
            .principal-architect-container {
                .principal-architect {
                    flex-direction: column;
                    align-items: center;
                    .principal-architect-image {
                        img {
                            max-width: 300px;
                        }
                    }
                    .principal-architect-content {
                        h2{
                            font-size: 1.8rem;
                        }
                        width: 100%;
                    }
                }
            }
            .team-members {
                align-items: center;
                flex-direction: column;
                .core-team,
                .associates {
                    flex-wrap: wrap;
                    flex-direction: row;
                    justify-content: space-evenly;
                    h2{
                        font-size: 1.8rem;
                    }
                    .team-card-container {
                        width: 100%;
                        .team-card {
                            flex-basis: 32%;
                            .member-image {
                                max-width: 150px;
                            }
                            .member-detail {
                                h4 {
                                    font-size: 0.95rem;
                                }
                                p {
                                    font-size: 0.9rem;
                                }
                            }
                        }
                    }
                }
                .associates{
                    .team-card{
                        flex-basis: 40%!important;
                    }
                }
            }
        }
    }
    
    #footer{
        .contact{
            min-height: 20vh;
            flex-direction: column;
        }
    }
}