@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Oxygen", sans-serif;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mr-3 {
  margin-right: 3rem;
}

.br-tl {
  border-top-left-radius: 1rem;
}

.br-tr {
  border-top-right-radius: 1rem;
}

.br-bl {
  border-bottom-left-radius: 1rem;
}

.br-br {
  border-bottom-right-radius: 1rem;
}

.txt-und {
  text-decoration: underline !important;
}

.bdr-none {
  border: none !important;
}

a {
  text-decoration: none;
  color: #000;
}

.bld {
  font-weight: 700;
}

.contact-detail-link {
  font-size: 0.9rem;
}

.sub-text {
  font-size: 0.8rem;
}

.tj {
  text-align: justify;
}

.logo {
  max-width: 70%;
}

.fas,
.far {
  font-size: 1.5rem;
  margin-right: 1rem;
  color: #398933;
}

.wht {
  color: #fff;
}

.fx-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.detail-heading {
  font-weight: bold;
}

.img-res {
  max-width: 100%;
}

.logo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.detail {
  text-align: justify;
}

.projects-heading {
  font-size: 2.5rem;
}

.projects {
  max-width: 360px;
  border-radius: 2rem;
}

.projects .owl-stage-outer {
  border-radius: 1rem;
}

.projects .owl-nav button.owl-prev {
  position: absolute;
  top: 40%;
  left: 3%;
  background: rgba(255, 255, 255, 0.5);
}

.projects .owl-nav button.owl-prev span {
  padding: 0.4rem;
  font-size: 1.3rem;
}

.projects .owl-nav button.owl-next {
  position: absolute;
  top: 40%;
  right: 3%;
  background: rgba(255, 255, 255, 0.5);
}

.projects .owl-nav button.owl-next span {
  padding: 0.4rem;
  font-size: 1.3rem;
}

.projects .owl-dots {
  display: none;
}

.disabled {
  pointer-events: none;
  cursor: default;
}

.footer-icon {
  font-size: 1rem;
}

#home,
#team,
#projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(236, 236, 236, 0.6);
}

#home .content,
#team .content,
#projects .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  padding: 4rem 0 1rem;
}

#home .content .content-box,
#team .content .content-box,
#projects .content .content-box {
  font-size: 0.9rem;
  margin-bottom: 3rem;
  line-height: 1.3rem;
  text-align: justify;
}

#home .content .content-box .content-headings,
#team .content .content-box .content-headings,
#projects .content .content-box .content-headings {
  margin-bottom: 1.5rem;
}

@media (min-width: 320px) and (max-width: 768px) {
  .mobile-menu {
    width: 60%;
    margin: 0 auto;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    background: #609a5c;
    padding: 0.5rem 0rem;
    bottom: 5%;
    left: 50%;
    -webkit-transform: translate(-50%) !important;
            transform: translate(-50%) !important;
    border-radius: 0.5rem;
    -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
            box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    z-index: 2;
  }
  .mobile-menu .menu-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mobile-menu .menu-link .material-icons {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.7);
  }
  .mobile-menu .menu-link .menu-text {
    color: rgba(0, 0, 0, 0.8);
    font-weight: 700;
    font-size: 0.75rem;
  }
}

.nav-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5rem;
}

.nav-btns .btns {
  padding: 0.7rem 1rem;
  font-weight: bold;
  border-radius: 0.8rem;
  font-size: 0.85rem;
}

.nav-btns .before {
  border: 2px solid #3c3c3c47;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-right: 0.5rem;
  color: #7d7d7d;
}

.nav-btns .before:hover {
  background: #3c3c3c47;
}

.nav-btns .after {
  background: #609a5c;
  border: 2px solid #609a5c;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.nav-btns .after:hover {
  background: none;
}

.pre-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.4rem;
  background: #609a5c;
}

.pre-header .pre-header-text {
  font-size: 0.8rem;
  font-style: italic;
  color: #fff;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0.5rem 2rem;
  /* NAVIGATION STYLE START */
}

header .navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 9vh;
  width: 20vw;
}

header .navigation ul li {
  list-style: none;
  font-size: 1rem;
  font-weight: 700;
  color: #5b5b5b;
  padding: 0.1rem 0.5rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-right: 1px solid #5b5b5b;
}

header .navigation ul li:hover {
  background-color: #5b5b5b;
  color: #fff;
}

/* FOOTER STYLE START */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem 5rem;
  background: #3c3c3c47;
}

footer .about {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .contact {
  width: 35%;
}

footer .contact .contact-detail {
  margin-bottom: 1rem;
}

footer .address {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* OUR SERVICES STYLE START */
.footer-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  padding: 1rem 5rem;
  background: #3c3c3c47;
}

.footer-services .footer-services-names-box {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-services .footer-services-names-box .footer-services-names {
  font-size: 0.9rem;
  padding: 0 1rem;
  border-right: 1px solid;
}

/* COPYRIGHT STYLE START */
.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 0.8rem;
  color: #fff;
  padding: 0.4rem 2rem;
  background: #609a5c;
}

.copyright .developer-name {
  color: #000;
}

#home .content {
  width: 50%;
}

#home .content .features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#home .content .features .feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 1.5rem;
}

.team-hero {
  min-height: 60vh;
  background: url(../../images/team-hero.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% 35%;
}

.content .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 3rem;
}

.content .container .content-image {
  border-radius: 1rem;
  margin-right: 2rem;
}

.content .member-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 3rem;
}

.content .member-box .content-headings {
  margin-bottom: 1.5rem;
}

.content .member-box .member-card-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.content .member-box .member-card-box .member-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 33%;
}

.content .member-box .member-card-box .member-card .member-image {
  margin-right: 1rem;
  border-radius: 1rem;
}

#projects-landing .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 0 6rem 0;
}

#projects-landing .content .project-card {
  overflow: hidden;
  position: relative;
}

#projects-landing .content .project-card .project-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#projects-landing .content .project-card .project-link .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

#projects-landing .content .project-card .project-link img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#projects-landing .content .project-card .project-link .title-block {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#projects-landing .content .project-card .project-link .title-block .title {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  background: rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 0.5rem;
  color: #fff;
}

#projects-landing .content .project-card:hover img {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

#projects-landing .content .project-card:hover .overlay {
  opacity: 1;
  z-index: 1;
}

#projects-landing .content .project-card:hover .title-block {
  top: 50%;
  left: 50%;
  opacity: 1;
  z-index: 2;
}

#projects .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  padding: 0 0 4rem 0;
}

#projects .content .project-headings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 12vh;
  font-size: 2.5rem;
  opacity: 0.7;
}

#projects .content .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 32vh;
}

#projects .content .project .projects {
  margin-right: 2rem;
}

#projects .content .project .detail {
  line-height: 1.3rem;
}

#projects .content .project .detail .detail-heading-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 0.9rem;
}

#projects .content .project .detail .detail-heading-box .detail-heading {
  font-weight: 700;
}

#projects .content .project .research-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 2rem;
}

#projects .content .project .research-links .research-link {
  padding: 0.4rem 1.5rem;
  border: solid 1px #c9c9c9;
  border-radius: 0.5rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#projects .content .project .research-links .research-link:hover {
  background: #dadada;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
  background: rgba(255, 255, 255, 0.5);
  color: black;
}

.home-slider {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.home-slider .owl-nav {
  color: #000;
  margin: 0;
}

.home-slider .owl-nav button.owl-prev {
  position: absolute;
  top: 40%;
  left: 3%;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 40%;
}

.home-slider .owl-nav button.owl-prev span {
  display: inline-block;
  height: 5rem;
  padding: 0rem 1rem;
  font-size: 3.5rem;
}

.home-slider .owl-nav button.owl-next {
  position: absolute;
  top: 40%;
  right: 3%;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 40%;
}

.home-slider .owl-nav button.owl-next span {
  display: inline-block;
  height: 5rem;
  padding: 0rem 1rem;
  font-size: 3.5rem;
}

.home-slider .owl-dots {
  position: absolute;
  bottom: 1%;
  left: 45%;
  margin-top: 1rem;
}

.home-slider .owl-dots button.owl-dot {
  zoom: 1;
}

.home-slider .owl-item {
  height: 100%;
}

.home-slider .owl-item .slide {
  position: relative;
}

.home-slider .owl-item .slide .slider-card {
  position: absolute;
  bottom: 2%;
  right: 1%;
  width: auto;
  padding: 0.5rem 1rem;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
          box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  z-index: 2;
}

.home-slider .owl-item .slide .slider-card .card-text {
  font-size: 0.8rem;
}

@media (max-width: 768px) {
  .navigation {
    display: none;
  }
  .owl-nav {
    display: none;
  }
}

@media (min-width: 769px) {
  .mobile-menu {
    display: none !important;
  }
}

@media (min-width: 320px) and (max-width: 450px) {
  .pre-header .pre-header-text {
    font-size: 0.7rem;
  }
  .logo-link {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .home-slider .owl-dots {
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
  .home-slider .owl-dots button.owl-dot {
    zoom: 0.6;
  }
  .home-slider .owl-item .slide .slider-card {
    display: none;
  }
  #home .content {
    width: 100%;
    padding: 2rem;
  }
  #home .content .features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .team-hero {
    min-height: 40vh;
    background: url(../../images/team-hero-mob-01.jpg);
    background-repeat: no-repeat;
    background-position: center;
  }
  #team .content {
    width: 100%;
    padding: 2rem;
  }
  #team .content .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0;
  }
  #team .content .container .content-image {
    max-width: 100%;
    margin-bottom: 2rem;
  }
  #team .content .member-box .member-card-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #team .content .member-box .member-card-box .member-card {
    width: 100%;
    margin-bottom: 1.5rem;
  }
  #team .content .member-box .member-card-box .member-card .member-image {
    max-width: 40%;
  }
  #projects-landing .content {
    padding: 2rem 0 4rem 0;
  }
  #projects-landing .content .project-card {
    margin-bottom: 2rem;
  }
  #projects-landing .content .project-card .project-link .title-block {
    opacity: 1;
  }
  #projects-landing .content .project-card .project-link .title-block .title {
    font-size: 0.7rem;
    padding: 0.5rem;
  }
  #projects .content {
    width: 100%;
    padding: 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #projects .content .project-headings {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-align: center;
    text-transform: uppercase;
  }
  #projects .content .project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 3rem;
  }
  #projects .content .project .projects {
    margin: 0 0 1rem 0;
  }
  #projects .nav-btns {
    margin-top: 3rem;
  }
  #projects .nav-btns .btns {
    font-size: 0.7rem;
    padding: 0.5rem;
  }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem 2rem 0;
  }
  footer .about,
  footer .contact,
  footer .address {
    width: 100%;
  }
  footer .about {
    margin-bottom: 1rem;
  }
  .footer-services {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 1rem 1.5rem;
  }
  .footer-services .footer-services-heading {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  .footer-services .footer-services-names-box {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-services .footer-services-names-box .footer-services-names {
    font-size: 0.8rem;
    padding: 0;
    margin: 0 0.8rem 0.5rem 0;
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    border: none;
  }
  .copyright {
    padding: 0.4rem 0.6rem;
    font-size: 0.55rem;
  }
  .fas,
  .far {
    font-size: 1.2rem;
    margin-right: 0.6rem;
  }
}

@media (min-width: 376px) and (max-width: 450px) {
  .team-hero {
    min-height: 22vh;
  }
  #projects-landing .content {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 2rem 0.5rem 4rem;
  }
  #projects-landing .content .project-card {
    margin: 0 0 0.9rem;
  }
  #projects-landing .content .project-card img {
    max-width: 160px;
  }
  #projects-landing .content .project-card .project-link .title-block .title {
    font-size: 0.6rem;
  }
  #projects .content .project-headings {
    min-height: auto;
  }
  #projects .nav-btns {
    margin: 0;
  }
  .copyright {
    font-size: 0.6rem;
  }
}

@media (min-width: 1200px) and (max-width: 1899px) {
  .home-slider .owl-nav button.owl-next span, .home-slider .owl-nav button.owl-prev span {
    height: 5rem;
    font-size: 3.5rem;
  }
  #home .content {
    width: 55%;
  }
  .team-hero {
    background: url(../../images/team-hero-lap-resp.jpg);
    background-position: center;
    background-repeat: no-repeat;
  }
  #team .content .member-box .member-card-box .member-card .member-image {
    max-width: 40%;
  }
  #projects-landing .content {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #projects-landing .content .project-card {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  #projects .content {
    width: 65%;
  }
  #projects .content .project {
    min-height: 40vh;
  }
  footer {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 2rem 5rem 1rem;
  }
  footer .fas,
  footer .far {
    font-size: 1.2rem;
  }
  footer .about,
  footer .contact,
  footer .address {
    width: 33%;
  }
  footer .contact,
  footer .address {
    padding-top: 0.5rem;
  }
  footer .contact .contact-detail {
    margin-bottom: 0.3rem;
  }
  .footer-services {
    padding: 1rem 5rem;
  }
  .footer-services .footer-services-names-box .footer-services-heading {
    font-size: 1rem;
  }
  .footer-services .footer-services-names-box .footer-services-names {
    font-size: 0.8rem;
  }
}
/*# sourceMappingURL=main.css.map */