@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Oxygen", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mr-3 {
  margin-right: 3rem;
}

.sub-text {
  font-size: 0.9rem;
}

.tj {
  text-align: justify;
}

.logo {
  max-width: 70%;
}

.fas,
.far {
  font-size: 1.5rem;
  margin-right: 1rem;
  color: #398933;
}

.wht {
  color: #fff;
}

.fx-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bld {
  font-weight: bold;
}

.br-tl {
  border-top-left-radius: 1rem;
}

.br-tr {
  border-top-right-radius: 1rem;
}

.br-bl {
  border-bottom-left-radius: 1rem;
}

.br-br {
  border-bottom-right-radius: 1rem;
}

.txt-und {
  text-decoration: underline !important;
}

.img-res {
  max-width: 100%;
}

.logo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-details {
  text-align: justify;
}

.projects-heading {
  font-size: 2.5rem;
}

.project-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project-text .project-details-heading {
  width: 150px;
}

.projects {
  max-width: 360px;
  border-radius: 2rem;
}

.projects .owl-stage-outer {
  border-radius: 1rem;
}

.projects .owl-nav button.owl-prev {
  position: absolute;
  top: 40%;
  left: 3%;
  background: rgba(255, 255, 255, 0.5);
}

.projects .owl-nav button.owl-prev span {
  padding: 0.4rem;
  font-size: 1.3rem;
}

.projects .owl-nav button.owl-next {
  position: absolute;
  top: 40%;
  right: 3%;
  background: rgba(255, 255, 255, 0.5);
}

.projects .owl-nav button.owl-next span {
  padding: 0.4rem;
  font-size: 1.3rem;
}

.projects .owl-dots {
  display: none;
}

.disabled {
  pointer-events: none;
  cursor: default;
}

.footer-icon {
  font-size: 1rem;
}

.sidebar {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: rgba(36, 36, 41, 0.922);
  padding: 4rem;
}

.sidebar .sidebar-heading {
  font-size: 3rem;
  color: #fff;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4rem;
}

@media (min-width: 320px) and (max-width: 768px) {
  .mobile-menu {
    width: 60%;
    margin: 0 auto;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    background: #609a5c;
    padding: 0.5rem 0rem;
    bottom: 5%;
    left: 50%;
    -webkit-transform: translate(-50%) !important;
            transform: translate(-50%) !important;
    border-radius: 0.5rem;
    -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
            box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    z-index: 2;
  }
  .mobile-menu .menu-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mobile-menu .menu-link .material-icons {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.7);
  }
  .mobile-menu .menu-link .menu-text {
    color: rgba(0, 0, 0, 0.8);
    font-weight: 700;
    font-size: 0.75rem;
  }
}

.nav-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5rem;
}

.nav-btns .btns {
  padding: 1rem 4rem;
  font-weight: bold;
  border-radius: 0.8rem;
}

.nav-btns .before {
  border: 2px solid #3c3c3c47;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-right: 0.5rem;
}

.nav-btns .before:hover {
  background: #3c3c3c47;
}

.nav-btns .after {
  background: #609a5c;
  border: 2px solid #609a5c;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.nav-btns .after:hover {
  background: none;
}

.pre-header {
  padding: 0.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, right top, from(#609a5c));
  background: linear-gradient(to right, #609a5c);
}

.pre-header .pre-header-text {
  color: #fff;
  font-size: 0.8rem;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 2rem;
}

header .navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 20vw;
  min-height: 9vh;
}

header .navigation ul li {
  list-style: none;
  font-size: 1rem;
  font-weight: 700;
  color: #5b5b5b;
  padding: 0.1rem 0.5rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-right: 1px solid #5b5b5b;
}

header .navigation ul li:hover {
  background-color: #5b5b5b;
  color: #fff;
}

#footer {
  min-height: 20vh;
  padding: 4rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #3c3c3c47;
  z-index: -2;
}

#footer .main-footer-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer .main-footer-one .main-footer-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#footer .main-footer-one .main-footer-two .main-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer .main-footer-one .main-footer-two .main-contact .address {
  width: 53%;
}

#footer .main-footer-one .main-footer-two .main-contact .address .detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.3rem;
}

#footer .main-footer-one .main-footer-two .main-contact .address .detail .contact-detail {
  font-size: 0.85rem;
}

#footer .main-footer-one .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 12vh;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#footer .main-footer-one .contact .detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}

#footer .main-footer-one .contact .detail .contact-detail {
  text-align: justify;
  font-size: 0.9rem;
}

#footer .footer-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer .footer-services .links {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer .footer-services .links .shortcut-links-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#footer .footer-services .links .shortcut-links {
  font-size: 0.9rem;
  padding: 0 1rem 0;
  border-right: 1px solid;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #fff;
  padding: 0.4rem 2rem;
  background: #609a5c;
  font-size: 0.8rem;
}

.copyright .developer-name {
  color: #000;
}

#home {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  background: rgba(236, 236, 236, 0.6);
}

#home .content {
  width: 60%;
}

#home .content .about-enad, #home .content .design-philosophy {
  font-size: 1rem;
  line-height: 1.3rem;
}

#home .content .about-enad-heading,
#home .content .design-philosophy-heading,
#home .content .core-values-heading,
#home .content .our-services-heading {
  font-size: 1.5rem;
}

#home .content .core-values-principles .values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#home .content .core-values-principles .values .value-column .value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5rem;
}

#home .content .core-values-principles .values .value-column .value .value-name {
  font-size: 1rem;
}

#home .content .services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#home .content .services .service-column .service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5rem;
}

#home .content .services .service-column .service .service-name {
  font-size: 1rem;
}

.team-hero {
  min-height: 55vh;
  background: url(../../images/team-hero.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% 32%;
}

#team {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background: rgba(236, 236, 236, 0.6);
}

#team .content {
  width: 70%;
  padding: 5rem 1rem;
  /* .team-members {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            .core-team,
            .associates {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .team-card-container {
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;
                justify-content: space-evenly;
                .team-card {
                    
                    margin-bottom: 5rem;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    .member-image {
                        margin-bottom: 2.5rem;
                        
                    }
                    .member-detail {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                }
            }
        } */
}

#team .content .principal-architect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 5rem 0;
}

#team .content .principal-architect .principal-architect-content .highlight-color {
  color: #00695c;
}

#team .content .principal-architect .principal-architect-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 3rem;
}

#team .content .principal-architect .principal-architect-image img {
  border-radius: 1rem;
}

#team .content .team-members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#team .content .team-members .team-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#team .content .team-members .team-card-container .team-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  margin-bottom: 3rem;
}

#team .content .team-members .team-card-container .team-card .member-image {
  margin-right: 1rem;
  border-radius: 1rem;
  /* box-shadow: rgba(96, 154, 92, 0.4) -5px 5px, rgba(96, 154, 92, 0.3) -10px 10px,
                            rgba(96, 154, 92, 0.2) -15px 15px, rgba(96, 154, 92, 0.1) -20px 20px,
                            rgba(96, 154, 92, 0.05) -25px 25px; */
}

#projects-landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#projects-landing .content {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 0 6rem 0;
}

#projects-landing .content .project-card {
  overflow: hidden;
  position: relative;
}

#projects-landing .content .project-card .project-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#projects-landing .content .project-card .project-link .overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

#projects-landing .content .project-card .project-link img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#projects-landing .content .project-card .project-link .title-block {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#projects-landing .content .project-card .project-link .title-block .title {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  background: rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-radius: 0.5rem;
  color: #fff;
}

#projects-landing .content .project-card:hover img {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

#projects-landing .content .project-card:hover .overlay {
  opacity: 1;
  z-index: 1;
}

#projects-landing .content .project-card:hover .title-block {
  top: 50%;
  left: 50%;
  opacity: 1;
  z-index: 2;
}

#projects {
  background: rgba(236, 236, 236, 0.6);
}

#projects .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0 4rem 0;
}

#projects .content .project-heading-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 30vh;
  margin-bottom: 5rem;
  background-color: #ececec;
  background-attachment: fixed;
  opacity: 0.7;
  background: radial-gradient(circle, transparent 20%, #ececec 20%, #ececec 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #ececec 20%, #ececec 80%, transparent 80%, transparent) 15px 15px, linear-gradient(#609a5c 1.2px, transparent 1.2px) 0 -0.6px, linear-gradient(90deg, #609a5c 1.2px, #ececec 1.2px) -0.6px 0;
  background-size: 30px 30px, 30px 30px, 15px 15px, 15px 15px;
}

#projects .content .project-heading-box .project-heading {
  font-size: 3rem;
  margin: 3rem;
}

#projects .content .projects {
  margin-right: 2rem;
}

#projects .content .project {
  min-height: 35vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#projects .content .project .project-details {
  width: 40%;
  line-height: 1.3rem;
}

#projects .content .project .project-details .project-text {
  font-size: 0.9rem;
}

.owl-theme .owl-nav [class*=owl-]:hover {
  background: rgba(255, 255, 255, 0.5);
  color: black;
}

.home-slider {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.home-slider .owl-nav {
  color: #000;
  margin: 0;
}

.home-slider .owl-nav button.owl-prev {
  position: absolute;
  top: 40%;
  left: 3%;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 40%;
}

.home-slider .owl-nav button.owl-prev span {
  display: inline-block;
  height: 7rem;
  padding: 0rem 1rem;
  font-size: 5rem;
}

.home-slider .owl-nav button.owl-next {
  position: absolute;
  top: 40%;
  right: 3%;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 40%;
}

.home-slider .owl-nav button.owl-next span {
  display: inline-block;
  height: 7rem;
  padding: 0rem 1rem;
  font-size: 5rem;
}

.home-slider .owl-dots {
  position: absolute;
  bottom: 1%;
  left: 45%;
  margin-top: 1rem;
}

.home-slider .owl-dots button.owl-dot {
  zoom: 1;
}

.home-slider .owl-item {
  height: 100%;
}

.home-slider .owl-item .slide {
  position: relative;
}

.home-slider .owl-item .slide .slider-card {
  position: absolute;
  bottom: 2%;
  right: 1%;
  width: auto;
  padding: 0.5rem 1rem;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
          box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  z-index: 2;
}

.home-slider .owl-item .slide .slider-card .card-text {
  font-size: 0.8rem;
}

@media (min-width: 769px) {
  .mobile-menu {
    display: none !important;
  }
}

@media (min-width: 320px) and (max-width: 450px) {
  .pre-header .pre-header-text {
    font-size: 0.7rem;
  }
  .fas,
  .far {
    font-size: 1.2rem;
  }
  header .logo {
    max-width: 70%;
  }
  header .navigation {
    display: none;
  }
  .logo-link {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .home-slider {
    width: 100%;
    margin: 0;
  }
  .home-slider .owl-item {
    height: 100%;
  }
  .home-slider .owl-item .slide .slider-card {
    display: none;
    /* width: 150px;
                    padding: 0.4rem;
                    bottom: 10%;
                    .card-text {
                        font-size: 0.45rem;
                    } */
  }
  .home-slider .owl-nav {
    display: none;
  }
  .home-slider .owl-dots {
    left: 25%;
    bottom: 0;
  }
  .home-slider .owl-dots button.owl-dot {
    zoom: 0.6;
  }
  /* home page */
  #home .content {
    width: 100%;
    padding: 3rem 2rem;
  }
  #home .content .content-heading {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
  #home .content .about-enad, #home .content .design-philosophy, #home .content .core-values-principles .values .value-column .value .value-name, #home .content .services .service-column .service .service-name {
    font-size: 0.9rem;
  }
  #home .content .core-values-principles .values {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #home .content .services {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  /* team page */
  .team-hero {
    background: url(../../images/team-hero-mob-01.jpg);
    min-height: 30vh;
    background-position: center;
  }
  #team .content {
    width: 100%;
    padding: 4rem 2rem;
  }
  #team .content .content-heading {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
  #team .content .about-enad, #team .content .principal-architect-content {
    font-size: 0.9rem;
  }
  #team .content .principal-architect {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #team .content .principal-architect .principal-architect-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 3rem 0;
  }
  #team .content .principal-architect .principal-architect-image img {
    max-width: 90%;
  }
  #team .content .principal-architect .principal-architect-content {
    line-height: 1.5rem;
  }
  #team .content .team-members {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #team .content .team-members .core-team,
  #team .content .team-members .associates {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #team .content .team-members .core-team .team-card-container,
  #team .content .team-members .associates .team-card-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #team .content .team-members .core-team .team-card-container .team-card,
  #team .content .team-members .associates .team-card-container .team-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 4rem;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
  }
  #team .content .team-members .core-team .team-card-container .team-card .member-image,
  #team .content .team-members .associates .team-card-container .team-card .member-image {
    margin-bottom: 2rem;
    margin-right: 0;
  }
  #team .content .team-members .core-team .team-card-container .team-card .member-detail,
  #team .content .team-members .associates .team-card-container .team-card .member-detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #projects-landing .content .project-card {
    padding: 1rem;
  }
  #projects-landing .content .project-card .project-link .overlay {
    opacity: 0;
  }
  #projects-landing .content .project-card .project-link img {
    max-width: 250px;
  }
  #projects-landing .content .project-card .project-link .title-block {
    opacity: 1;
  }
  #projects-landing .content .project-card .project-link .title-block .title {
    font-size: 0.8rem;
    padding: 0.5rem;
    background: rgba(0, 0, 0, 0.8);
  }
  #projects .content .project-heading-box {
    min-height: 20vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 0;
  }
  #projects .content .project-heading-box .project-heading {
    font-size: 1.2rem;
    margin: 0;
    padding: 1rem;
  }
  #projects .content .project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem 2rem;
  }
  #projects .content .project .projects {
    margin-bottom: 1rem;
    margin-right: 0;
  }
  #projects .content .project .project-details {
    text-align: left;
    width: 100%;
  }
  #projects .content .project .project-details .project-text {
    text-align: justify;
    font-size: 0.8rem;
  }
  #projects .content .nav-btns {
    margin: 0;
  }
  #projects .content .nav-btns .btns {
    font-size: 0.7rem;
    padding: 0.5rem 1rem;
  }
  #footer {
    min-height: 50vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1rem 2rem;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #footer .main-footer-one {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #footer .main-footer-one .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 2rem;
  }
  #footer .main-footer-one .contact .detail {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #footer .main-footer-one .contact .detail .contact-detail {
    font-size: 0.8rem;
  }
  #footer .main-footer-one .main-footer-two {
    width: 100%;
  }
  #footer .main-footer-one .main-footer-two .main-contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 1rem;
  }
  #footer .main-footer-one .main-footer-two .main-contact .contact {
    margin: 0;
    min-height: 8vh;
  }
  #footer .main-footer-one .main-footer-two .main-contact .contact .detail {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #footer .main-footer-one .main-footer-two .main-contact .address {
    width: 100%;
  }
  #footer .main-footer-one .main-footer-two .main-contact .address .detail .contact-detail {
    font-size: 0.8rem;
  }
  #footer .footer-services {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #footer .footer-services h4 {
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
  #footer .footer-services .links {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #footer .footer-services .links .shortcut-links-column {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #footer .footer-services .links .shortcut-links-column .shortcut-links {
    font-size: 0.8rem;
    text-align: center;
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
    margin-bottom: 0.5rem;
    border: 0;
    padding: 0;
  }
  .copyright {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0.5rem;
    font-size: 0.6rem;
  }
}

@media (min-width: 376px) and (max-width: 430px) {
  .home-slider .owl-dots {
    left: 33%;
  }
  #team .content .team-members .core-team .team-card-container, #team .content .team-members .associates .team-card-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #team .content .team-members .core-team .team-card-container .team-card .member-detail, #team .content .team-members .associates .team-card-container .team-card .member-detail {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #projects-landing .content {
    padding: 0 0 3rem 0;
  }
  #projects-landing .content .project-card .project-link img {
    max-width: 155px;
  }
  #projects-landing .content .project-card .project-link .title-block .title {
    font-size: 0.6rem;
  }
  #footer .main-footer-one .contact .detail .contact-detail {
    font-size: 0.9rem;
  }
  #footer .main-footer-one .main-footer-two .main-contact .address .detail .contact-detail {
    font-size: 0.9rem;
  }
  #footer .footer-services .links .shortcut-links-column .shortcut-links {
    font-size: 0.9rem;
  }
  .mobile-menu .menu-link .material-icons {
    font-size: 1.5rem;
  }
}

@media (min-width: 1200px) and (max-width: 1899px) {
  .pre-header .pre-header-text {
    font-size: 1rem;
  }
  /* home page */
  .home-slider .owl-item {
    height: 100%;
  }
  .home-slider .owl-item .slide .slider-card {
    bottom: 2%;
  }
  .home-slider .owl-item .slide .slider-card .card-text {
    font-size: 0.7rem;
  }
  .home-slider .owl-nav button.owl-next span,
  .home-slider .owl-nav button.owl-prev span {
    height: 4rem;
    font-size: 3rem;
    padding: 0 0.6rem;
  }
  #home .content {
    width: 75%;
  }
  #home .content .about-enad,
  #home .content .design-philosophy {
    line-height: 1.5rem;
  }
  #home .content .services .service {
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
  }
  /* team page */
  .team-hero {
    min-height: 50vh;
    background: url(../../images/team-hero-lap-resp.jpg);
    background-attachment: unset;
    background-repeat: no-repeat;
    background-position: center;
  }
  #team .content {
    width: 80%;
  }
  #team .content .about-enad {
    line-height: 1.5rem;
  }
  #team .content .principal-architect {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #team .content .principal-architect .principal-architect-content {
    line-height: 1.5rem;
  }
  #team .content .team-members .team-card-container .team-card .member-image {
    max-width: 45%;
    margin-right: 1rem;
  }
  #team .content .team-members .team-card-container .team-card .member-detail h4 {
    font-size: 1rem;
  }
  #team .content .team-members .team-card-container .team-card .member-detail p {
    font-size: 0.9rem;
  }
  /* projects landing page */
  .logo {
    max-width: 70%;
  }
  #projects-landing .content {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #projects-landing .content .project-card {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  #projects-landing .content .project-card .project-link .title-block {
    width: 70%;
  }
  #projects-landing .content .project-card .project-link .title-block .title {
    font-size: 0.9rem;
  }
  /* projects page */
  #projects .content .project {
    min-height: 37vh;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #projects .content .project .project-details {
    width: 45%;
  }
  #projects .content .nav-btns {
    margin-top: 5rem;
  }
  #projects .content .nav-btns .btns {
    padding: 0.7rem 1rem;
    font-size: 0.9rem;
  }
  .projects {
    width: 360px;
    margin-right: 2rem;
  }
  /* common footer for pages in this range */
  #footer {
    padding: 2rem;
  }
  #footer .about {
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #footer .about .footer-logo {
    max-width: 80%;
  }
  #footer .contact {
    width: 33%;
  }
  #footer .contact .detail {
    margin-right: 0;
  }
  #footer .contact .detail .contact-detail {
    font-size: 0.8rem;
  }
  #footer .contact .address {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
  #footer .footer-services .links .shortcut-links {
    font-size: 0.85rem;
  }
}
/*# sourceMappingURL=main.css.map */