/* @import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  /* font-family: 'Crimson Text', serif; */
  font-family: 'Oxygen', sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-2 {
  margin-right: 2rem;
}

.tj {
  text-align: justify;
}

.logo {
  max-width: 70%;
}

.fas,
.far {
  font-size: 1.5rem;
  margin-right: 1rem;
  color: #398933;
}

.wht {
  color: #fff;
}

.fx-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bld {
  font-weight: bold;
}

.br-tl {
  border-top-left-radius: 1rem;
}

.br-tr {
  border-top-right-radius: 1rem;
}

.br-bl {
  border-bottom-left-radius: 1rem;
}

.br-br {
  border-bottom-right-radius: 1rem;
}

.address {
  -ms-flex-preferred-size: 21%;
      flex-basis: 21%;
}

.logo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-details {
  text-align: justify;
}

.projects-heading {
  font-size: 2.5rem;
}

.project-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project-text .project-details-heading {
  width: 150px;
}

.projects {
  max-width: 640px;
  border-radius: 2rem;
}

.projects .owl-stage-outer {
  border-radius: 1rem;
}

.projects .owl-nav button.owl-prev {
  position: absolute;
  top: 40%;
  left: 3%;
  background: rgba(255, 255, 255, 0.5);
}

.projects .owl-nav button.owl-prev span {
  padding: 0.4rem;
  font-size: 1.3rem;
}

.projects .owl-nav button.owl-next {
  position: absolute;
  top: 40%;
  right: 3%;
  background: rgba(255, 255, 255, 0.5);
}

.projects .owl-nav button.owl-next span {
  padding: 0.4rem;
  font-size: 1.3rem;
}

.projects .owl-dots {
  display: none;
}

.disabled {
  pointer-events: none;
  cursor: default;
}

.footer-icon {
  font-size: 1rem;
}

.sidebar {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: rgba(36, 36, 41, 0.922);
  padding: 4rem;
}

.sidebar .sidebar-heading {
  font-size: 3rem;
  color: #fff;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4rem;
}

.nav-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-btns .btns {
  padding: 1rem 4rem;
  font-weight: bold;
}

.nav-btns .before {
  border: 2px solid #3c3c3c47;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav-btns .before:hover {
  background: #3c3c3c47;
}

.nav-btns .after {
  background: #609a5c;
  border: 2px solid #609a5c;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.nav-btns .after:hover {
  background: none;
}

.pre-header {
  padding: 0.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, right top, from(#609a5c));
  background: linear-gradient(to right, #609a5c);
}

.pre-header .pre-header-text {
  color: #fff;
  font-size: 0.8rem;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem 2rem;
}

header .navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 20vw;
  min-height: 9vh;
}

header .navigation ul li {
  list-style: none;
  font-size: 1.4rem;
  font-weight: 700;
  color: #5b5b5b;
  padding: 0.1rem 0.5rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-right: 1px solid #5b5b5b;
}

header .navigation ul li:hover {
  background-color: #5b5b5b;
  color: #fff;
}

/* #footer {
    min-height: 20vh;
    padding: 1rem 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: $header-grey;
    z-index: -2;
    .footer-logo {
        max-width: 70%;
    }
    .about {
        width: 15%;
        .footer-about-text {
            color: #fff;
        }
        .footer-about {
            border: 1px solid #fff;
            border-radius: 1rem;
            padding: 0.5rem 0.8rem;
            color: #fff;
            transition: 0.3s;
            &:hover {
                border-radius: 0;
            }
        }
    }
    .contact {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        width: 85%;
        .detail {
            display: flex;
            margin-right: 3rem;
            i {
                
                &::before {
                    background: #242429e8;
                    padding: 0.5rem;
                    border-radius: 1rem;
                }
            }
            .contact-detail {
                color: #fff;
                font-size: 0.9rem;
            }
        }
    }
}

.copyright {
    display: flex;
    justify-content: flex-end;
    color: #000;
    padding: 0.5rem 2rem;
    font-size: 0.7rem;
    background: linear-gradient( to right, $base-color-green 50%, $base-color-grey 60%);
    background: #3c3c3c8a;
    .developer-name {
        color: $base-color-green;
    }
} */
#footer {
  min-height: 30vh;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #3c3c3c47;
  z-index: -2;
}

#footer .about .company-name {
  font-size: 2rem;
  font-weight: 700;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #00d8bd), color-stop(50%, #92bed3));
  background: linear-gradient(to right, #00d8bd 50%, #92bed3 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#footer .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 15vh;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#footer .contact .detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer .contact .detail i {
  margin-right: 1rem;
  margin-bottom: 2rem;
}

#footer .contact .detail i::before {
  padding: 0.5rem;
  border-radius: 1rem;
}

#footer .footer-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#footer .footer-services .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#footer .footer-services .links a {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin-bottom: 0.8rem;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #fff;
  padding: 0.4rem 2rem;
  background: #609a5c;
  font-size: 0.8rem;
}

.copyright .developer-name {
  color: #000;
}

#home {
  width: 65%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

#home .content .about-enad-heading,
#home .content .design-philosophy-heading,
#home .content .core-values-heading,
#home .content .our-services-heading {
  font-size: 1.8rem;
}

#home .content .core-values-principles .values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#home .content .core-values-principles .values .value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  margin-bottom: 3rem;
}

#home .content .core-values-principles .values .value .value-name {
  font-size: 1.2rem;
}

#home .content .services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem;
}

#home .content .services .service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  margin-bottom: 3rem;
}

#home .content .services .service .service-name {
  font-size: 1.2rem;
}

.team-hero {
  min-height: 45vh;
  background-image: url("team-hero.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0 150%;
}

#team {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#team .content {
  width: 70%;
  padding: 5rem 1rem;
  /* .team-members {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            .core-team,
            .associates {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            .team-card-container {
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;
                justify-content: space-evenly;
                .team-card {
                    
                    margin-bottom: 5rem;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    .member-image {
                        margin-bottom: 2.5rem;
                        
                    }
                    .member-detail {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                }
            }
        } */
}

#team .content .principal-architect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 2rem 0;
}

#team .content .principal-architect .principal-architect-content .highlight-color {
  color: #00695c;
}

#team .content .principal-architect .principal-architect-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 3rem;
}

#team .content .principal-architect .principal-architect-image img {
  border-radius: 1rem;
  -webkit-box-shadow: rgba(96, 154, 92, 0.4) -5px 5px, rgba(96, 154, 92, 0.3) -10px 10px, rgba(96, 154, 92, 0.2) -15px 15px, rgba(96, 154, 92, 0.1) -20px 20px, rgba(96, 154, 92, 0.05) -25px 25px;
          box-shadow: rgba(96, 154, 92, 0.4) -5px 5px, rgba(96, 154, 92, 0.3) -10px 10px, rgba(96, 154, 92, 0.2) -15px 15px, rgba(96, 154, 92, 0.1) -20px 20px, rgba(96, 154, 92, 0.05) -25px 25px;
}

#team .content .team-members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#team .content .team-members .team-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#team .content .team-members .team-card-container .team-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#team .content .team-members .team-card-container .team-card .member-image {
  margin-right: 1rem;
  border-radius: 1rem;
  -webkit-box-shadow: rgba(96, 154, 92, 0.4) -5px 5px, rgba(96, 154, 92, 0.3) -10px 10px, rgba(96, 154, 92, 0.2) -15px 15px, rgba(96, 154, 92, 0.1) -20px 20px, rgba(96, 154, 92, 0.05) -25px 25px;
          box-shadow: rgba(96, 154, 92, 0.4) -5px 5px, rgba(96, 154, 92, 0.3) -10px 10px, rgba(96, 154, 92, 0.2) -15px 15px, rgba(96, 154, 92, 0.1) -20px 20px, rgba(96, 154, 92, 0.05) -25px 25px;
}

#projects-landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#projects-landing .content {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5rem 2rem;
}

#projects-landing .content .project-card {
  overflow: hidden;
  position: relative;
}

#projects-landing .content .project-card .project-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#projects-landing .content .project-card .project-link .overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

#projects-landing .content .project-card .project-link img {
  max-width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#projects-landing .content .project-card .project-link .title-block {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#projects-landing .content .project-card .project-link .title-block .title {
  font-size: 1.8rem;
}

#projects-landing .content .project-card:hover img {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

#projects-landing .content .project-card:hover .overlay {
  opacity: 1;
  z-index: 1;
}

#projects-landing .content .project-card:hover .title-block {
  top: 50%;
  left: 50%;
  opacity: 1;
  z-index: 2;
}

.content .project {
  min-height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .project .project-details {
  width: 40%;
  line-height: 1.7rem;
}

.owl-theme .owl-nav [class*=owl-]:hover {
  background: white;
  color: black;
}

.home-slider {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.home-slider .owl-nav {
  color: #000;
  margin: 0;
}

.home-slider .owl-nav button.owl-prev {
  position: absolute;
  top: 40%;
  left: 3%;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.home-slider .owl-nav button.owl-prev span {
  padding: 0.2rem 1rem;
  font-size: 2rem;
}

.home-slider .owl-nav button.owl-next {
  position: absolute;
  top: 40%;
  right: 3%;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.home-slider .owl-nav button.owl-next span {
  padding: 0.2rem 1rem;
  font-size: 2rem;
}

.home-slider .owl-dots {
  margin-top: 1rem;
}

.home-slider .owl-dots button.owl-dot {
  zoom: 1;
}

.home-slider .owl-item {
  height: 100%;
}

.home-slider .owl-item .slide {
  position: relative;
}

.home-slider .owl-item .slide .slider-card {
  position: absolute;
  bottom: 5%;
  right: 5%;
  width: auto;
  padding: 0.5rem 1rem;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
          box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  z-index: 2;
}

.home-slider .owl-item .slide .slider-card .card-text {
  font-size: 0.9rem;
}

.home-slider .owl-item .slide .slider-card .slider-card-btn {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  background: #455a64;
  border-radius: 1rem;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.home-slider .owl-item .slide .slider-card .slider-card-btn:hover {
  border-radius: 0;
}

@media (min-width: 1200px) and (max-width: 1500px) {
  /* home page */
  .home-slider .owl-item {
    height: 100%;
  }
  .home-slider .owl-item .slide .slider-card {
    bottom: 8%;
  }
  #home .content .services .service {
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
  }
  /* team page */
  #team .content .principal-architect {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #team .content .team-members .team-card-container .team-card .member-image {
    max-width: 35%;
    margin-right: 1rem;
  }
  #team .content .team-members .team-card-container .team-card .member-detail h4 {
    font-size: 0.9rem;
  }
  #team .content .team-members .team-card-container .team-card .member-detail p {
    font-size: 0.8rem;
  }
  /* projects landing page */
  .logo {
    max-width: 70%;
  }
  #projects-landing .content .project-card {
    -ms-flex-preferred-size: 21%;
        flex-basis: 21%;
  }
  #projects-landing .content .project-card .project-link .title-block {
    width: 70%;
  }
  #projects-landing .content .project-card .project-link .title-block .title {
    font-size: 1rem;
  }
  /* projects page */
  .individual-projects .sidebar .sidebar-heading {
    font-size: 1.8rem;
  }
  .projects {
    width: 450px;
  }
  /* common footer for pages in this range */
  #footer {
    padding: 1rem;
  }
  #footer .about .footer-logo {
    max-width: 80%;
  }
  #footer .contact .detail {
    margin-right: 0;
  }
  #footer .contact .address {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
}

@media (min-width: 320px) and (max-width: 390px) {
  header .logo {
    max-width: 50%;
  }
  header .navigation {
    display: none;
  }
  .home-slider {
    width: 100%;
    margin: 0;
  }
  .home-slider .owl-item {
    height: 100%;
  }
  .home-slider .owl-item .slide .slider-card {
    width: 150px;
    padding: 0.5rem;
    bottom: 10%;
  }
  .home-slider .owl-item .slide .slider-card .card-text {
    font-size: 0.5rem;
  }
  .home-slider .owl-nav {
    display: none;
  }
  /* home page */
  #home .content .content-heading {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
  #home .content .core-values-principles .values {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #home .content .services {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  /* team page */
  .banner {
    min-height: 25vh;
  }
  #team .content .content-heading {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
  #team .content .principal-architect {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #team .content .principal-architect .principal-architect-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 0;
  }
  #team .content .principal-architect .principal-architect-image img {
    max-width: 70%;
  }
  #team .content .team-members {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #team .content .team-members .core-team,
  #team .content .team-members .associates {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #team .content .team-members .core-team .team-card-container,
  #team .content .team-members .associates .team-card-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #team .content .team-members .core-team .team-card-container .team-card,
  #team .content .team-members .associates .team-card-container .team-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 4rem;
  }
  #team .content .team-members .core-team .team-card-container .team-card .member-image,
  #team .content .team-members .associates .team-card-container .team-card .member-image {
    margin-bottom: 2rem;
    margin-right: 0;
  }
  #team .content .team-members .core-team .team-card-container .team-card .member-detail,
  #team .content .team-members .associates .team-card-container .team-card .member-detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .individual-projects .content .project {
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .individual-projects .content .project .projects {
    width: 270px;
  }
  .individual-projects .content .project .projects .owl-nav {
    display: none;
  }
  .individual-projects .content .project .project-details {
    width: 100%;
  }
  #footer {
    min-height: 50vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1rem 2rem;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #footer .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  #footer .contact {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  #footer .contact .detail {
    margin-right: 0;
    margin-bottom: 1rem;
  }
  #footer .contact .detail .email {
    margin-bottom: 1rem;
  }
  #footer .contact .detail .contact-detail {
    font-size: 0.8rem;
  }
  .copyright {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0.7rem;
    font-size: 0.55rem;
  }
}

@media (min-width: 320px) and (max-width: 390px) {
  #home,
  #team,
  #projects-landing {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #home .sidebar,
  #team .sidebar,
  #projects-landing .sidebar {
    width: 100%;
    padding: 1rem;
  }
  #home .sidebar .sidebar-heading,
  #team .sidebar .sidebar-heading,
  #projects-landing .sidebar .sidebar-heading {
    font-size: 2rem;
    text-align: center;
  }
  #home .content,
  #team .content,
  #projects-landing .content {
    width: 100%;
    padding: 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=main.css.map */