/* FOOTER STYLE START */
footer {
    
    display: flex;
    padding: 2rem 5rem;
    background: $light-grey;
    .about {
        width: 35%;
        display: flex;
    }
    .contact {
        width: 35%;
        .contact-detail {
            margin-bottom: 1rem;
        }
    }
    .address {
        width: 25%;
        display: flex;
    }
}

/* OUR SERVICES STYLE START */
.footer-services {
    @include flex(space-between, center, row);
    width: 100%;
    padding: 1rem 5rem;
    background: $light-grey;
    .footer-services-names-box{
        width: 90%;
        display: flex;
        
        .footer-services-names {
        
            font-size: 0.9rem;
            padding: 0 1rem;
            border-right: 1px solid;
        }
    }
}

/* COPYRIGHT STYLE START */
.copyright {
    @include flex(flex-end, stretch, row);
    font-size: 0.8rem;
    color: #fff;
    padding: 0.4rem 2rem;
    background: $logo-color;
    .developer-name {
        color: #000;
    }
}
