#footer {
    min-height: 20vh;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    background: $light-grey;
    z-index: -2;

    .main-footer-one {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .main-footer-two {
            display: flex;
            flex-direction: column;
            .main-contact {
                display: flex;
                
                .address {
                    width: 53%;
                    .detail {
                        display: flex;
                        line-height: 1.3rem;
                        .contact-detail {
                            font-size: 0.85rem;
                        }
                    }
                }
            }
        }
        .contact {
            display: flex;
            flex-direction: column;
            min-height: 12vh;
            justify-content: flex-start;

            .detail {
                display: flex;
                margin-bottom: 1rem;
                
                .contact-detail {
                    text-align: justify;
                    font-size: 0.9rem;
                }
            }
        }
    }
    .footer-services {
        display: flex;

        .links {
            width: 80%;
            display: flex;

            .shortcut-links-column {
                
                display: flex;
                justify-content: space-evenly;
            }
            .shortcut-links {
                font-size: 0.9rem;
                padding: 0 1rem 0;
                border-right: 1px solid;
            }
        }
    }
}

.copyright {
    display: flex;
    justify-content: flex-end;
    color: #fff;
    padding: 0.4rem 2rem;
    background: $logo-color;
    font-size: 0.8rem;
    .developer-name {
        color: #000;
    }
}
