header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    
    
    
    .navigation {
        ul {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            width: 20vw;
            min-height: 9vh;
            li {
                list-style: none;
                font-size: 1rem;
                font-weight: 700;
                color: #5b5b5b;
                padding: 0.1rem 0.5rem;
                transition: 0.5s;
                border-right: 1px solid #5b5b5b;
                &:hover {
                    background-color: #5b5b5b;
                    color: #fff;
                }
            }
        }
    }
}