header {
    @include flex(space-between, center, row);
    padding: 0.5rem 2rem;
    
    /* NAVIGATION STYLE START */
    .navigation {
        ul {
            @include flex(flex-end, flex-end, row);
            min-height: 9vh;
            width: 20vw;

            li {
                list-style: none;
                font-size: 1rem;
                font-weight: 700;
                color: #5b5b5b;
                padding: 0.1rem 0.5rem;
                transition: 0.5s;
                border-right: 1px solid #5b5b5b;
                &:hover {
                    background-color: #5b5b5b;
                    color: #fff;
                }
            }
        }
    }
}
