.sidebar {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: $dark-grey;
    padding: 4rem;
    .sidebar-heading {
        font-size: 3rem;
        color: #fff;
    }
}