#projects {
    background: $home-content-bg;
    .content {
        display: flex;
        flex-direction: column;
        
        
        padding: 0 0 4rem 0;
        .project-heading-box {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            min-height: 12vh;
            padding-left: 15%;
            margin-bottom: 5rem;
            background-color: #ececec;
            background-attachment: fixed;
            opacity: 0.7;
            background: radial-gradient(circle, transparent 20%, #ececec 20%, #ececec 80%, transparent 80%, transparent),
                radial-gradient(circle, transparent 20%, #ececec 20%, #ececec 80%, transparent 80%, transparent) 15px
                    15px,
                linear-gradient(#609a5c 1.2000000000000002px, transparent 1.2000000000000002px) 0 -0.6000000000000001px,
                linear-gradient(90deg, #609a5c 1.2000000000000002px, #ececec 1.2000000000000002px) -0.6000000000000001px
                    0;
            background-size: 30px 30px, 30px 30px, 15px 15px, 15px 15px;
            .project-heading {
                font-size: 2.5rem;
                
            }
        }
        .projects {
            margin-right: 2rem;
        }
        .project {
            min-height: 35vh;

            display: flex;
            justify-content: center;
            align-items: center;

            .project-details {
                width: 40%;
                line-height: 1.3rem;
                .project-text {
                    font-size: 0.9rem;
                }
            }
        }
    }
}
