#projects {
    .content {
        @include flex(center, stretch, column);
        margin: 0 auto;
        padding: 0 0 4rem 0;
        width: 70%;

        .projects-headings-box {
            @include flex(flex-start, center, row);
            min-height: 12vh;
            .project-headings {
                font-size: 1.7rem;
                text-transform: uppercase;
                text-decoration: underline;
                letter-spacing: 0.5rem;
                opacity: 0.7;
            }
        }

        .projects-box {
            @include flex(center, flex-start, column);

            .project {
                @include flex(flex-start, center, row);
                min-height: 32vh;

                .projects {
                    margin-right: 2rem;
                }
                .detail {
                    line-height: 1.3rem;
                    .detail-heading-box {
                        @include flex(inherit, stretch, row);
                        font-size: 0.9rem;
                        .detail-heading {
                            font-weight: 700;
                        }
                    }
                }
                .research-links {
                    @include flex(inherit, center, row);
                    margin-top: 2rem;
                    .research-link {
                        padding: 0.4rem 1.5rem;
                        border: solid 1px #c9c9c9;
                        border-radius: 0.5rem;
                        transition: 0.2s;
                        &:hover {
                            background: #dadada;
                        }
                    }
                }
            }
        }
    }
}
