.team-hero {
    min-height: 60vh;
    background: url(../../images/team-hero.jpg) no-repeat center;

    background-size: contain;
}

.content {
    .container {
        @include flex(flex-start, flex-start, row);
        margin-bottom: 3rem;
        .content-image {
            border-radius: 1rem;
            margin-right: 2rem;
        }
    }
    .member-box {
        @include flex(flex-start, flex-start, column);
        margin-bottom: 3rem;
        .content-headings {
            margin-bottom: 1.5rem;
        }
        .member-card-box {
            @include flex(flex-start, flex-start, row);
            flex-wrap: wrap;
            width: 100%;
            .member-card {
                @include flex(flex-start, center, row);
                width: 33%;
                .member-image {
                    margin-right: 1rem;
                    border-radius: 1rem;
                }
            }
        }
    }
}
