@media (min-width: 376px) and (max-width: 450px) {
    .team-hero {
        min-height: 22vh;
    }
    #projects-landing {
        .content{
            justify-content: space-evenly;
            padding: 2rem 0.5rem 4rem;
            .project-card{
                margin: 0 0 0.9rem;
                img{
                    max-width: 160px;
                }
                .project-link{
                    .title-block{
                        .title{
                            font-size: 0.6rem;
                        }
                    }
                }
            }
        }
    }
    #projects{
        .content{
            .project-headings{
                min-height: auto;
            }
        }
        .nav-btns{
            margin: 0;
        }
    }
    .copyright{
        font-size: 0.6rem;
    }
}
