@media (min-width: 1025px) and (max-width: 1600px) {
    .home-slider {
        .owl-item {
            .slide {
                .slider-card {
                    .card-text {
                        font-size: 0.7rem;
                    }
                }
            }
        }
        .owl-nav {
            button.owl-prev,
            button.owl-next {
                span {
                    font-size: 3rem;
                    height: 4rem;
                    padding: 0 0.5rem;
                }
            }
        }
        .owl-dots {
            button.owl-dot {
                zoom: 0.7;
            }
        }
    }
    .pre-header {
        .pre-header-text {
            font-size: 0.8rem;
        }
    }
    .logo {
        max-width: 60%;
    }
    header {
        .navigation {
            ul {
                li {
                    font-size: 0.9rem;
                }
            }
        }
    }
    #home,
    #team {
        .content {
            width: 65%;
            .content-box {
                font-size: 1rem;
            }
        }
    }
    .team-hero {
        min-height: 50vh;
    }
    #team {
        .content {
            .container {
                align-items: flex-start;
                margin-bottom: 3rem;
            }
            .member-box {
                .member-card-box {
                    margin-bottom: 1rem;
                    .member-card {
                        flex-basis: 33%;
                        .member-image {
                            max-width: 35%;
                        }
                        .member-detail {
                            h4 {
                                font-size: 1rem;
                            }
                            .sub-text {
                                font-size: 0.9rem;
                            }
                        }
                    }
                }
            }
        }
    }
    #projects-landing {
        .content {
            padding: 0 0 7rem 0;
            justify-content: center;

            .project-card {
                max-width: 25%;
                .project-link {
                    img {
                        max-width: 100%;
                    }
                    .title-block {
                        .title {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
    #projects {
        .content {
            width: 70%;
            .projects-headings-box {
                .project-headings {
                    font-size: 1.5rem;
                }
            }
            .projects-box {
                
                .project {
                    min-height: 40vh;
                }
            }
        }
    }
    footer {
        padding: 2rem 5rem;
        .about {
            width: 33%;
        }
        .contact{
            .contact-detail{
                margin-bottom: 0.5rem;
            }
        }
        .address {
            width: 33%;
        }
        .contact-detail-link {
            font-size: 0.9rem;
        }
    }
    .footer-services {
        flex-direction: row;
        align-items: flex-start;
        padding: 0.5rem 5rem 1rem;
        .footer-services-heading {
            font-size: 0.8rem;
        }
        .footer-services-names-box {
            .footer-services-names {
                font-size: 0.8rem;
            }
        }
    }
    .copyright {
        font-size: 0.7rem;
    }
    .fas,
    .far {
        font-size: 1rem;
    }
}
@media (min-width: 1281px) and (max-width: 1440px) {
    .home-slider {
        .owl-nav {
            button.owl-next span,
            button.owl-prev span {
                height: 5rem;
                font-size: 3.5rem;
                padding: 0 0.7rem;
            }
        }
    }
    #home {
        .content {
            width: 55%;
        }
    }

    #team {
        .content {
            .member-box {
                .member-card-box {
                    .member-card {
                        margin-bottom: 1rem;
                        .member-image {
                            max-width: 40%;
                        }
                    }
                }
            }
        }
    }
    #projects-landing {
        .content {
            justify-content: flex-start;
            .project-card {
                max-width: 25%;
                .project-link {
                    img {
                        max-width: 100%;
                    }
                }
            }
        }
    }
    #projects {
        .content {
            width: 65%;
            .project {
                min-height: 40vh;
            }
        }
    }
    footer {
        justify-content: flex-start;
        padding: 2rem 5rem 1rem;
        .fas,
        .far {
            font-size: 1.2rem;
        }
        .about,
        .contact,
        .address {
            width: 33%;
        }
        .contact,
        .address {
            padding-top: 0.5rem;
        }
        .contact {
            .contact-detail {
                margin-bottom: 0.3rem;
            }
        }
    }
    .footer-services {
        padding: 1rem 0 1rem 5rem;
        .footer-services-heading {
            font-size: 0.9rem;
        }
        .footer-services-names-box {
            width: 88%;
            .footer-services-heading {
                font-size: 1rem;
            }
            .footer-services-names {
                font-size: 0.8rem;
            }
        }
    }
}
