@media(min-width:1200px) and (max-width:1899px){
    /* home page */
    .home-slider{
        .owl-item{
            height: 100%;
            .slide{
                .slider-card{
                    bottom: 6%;
                    .card-text{
                        font-size: 0.7rem;
                    }
                }
            }
        }
        .owl-nav{
            button.owl-next, button.owl-prev{
                span{
                    height: 4rem;
                    font-size: 3rem;
                    padding: 0 0.6rem;
                }
            }
        }
    }
    #home{
        .content{
            width: 75%;
            .services{
                .service{
                    flex-basis: 33%;
                }
            }
        }
    }
    /* team page */
    .team-hero{
        min-height: 50vh;
        background-position: 50% 30%;
    }
    #team{
        .content{
            width: 80%;
            .principal-architect{
                align-items: flex-start;
            }
            .team-members{
                .team-card-container{
                    .team-card{
                        .member-image{
                            max-width: 35%;
                            margin-right: 1rem;
                        }
                        .member-detail{
                            h4{
                                font-size: 0.9rem;
                            }
                            p{
                                font-size: 0.8rem;
                            }
                        }
                    }
                }
            }
        }
    }
    /* projects landing page */
    .logo{
        max-width: 70%;
    }
    
    #projects-landing{
        .content{
            justify-content: flex-start;
            .project-card{
                flex-basis: 25%;
                
                .project-link{
                    
                    
                    .title-block{
                        width: 70%;
                        .title{
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
    /* projects page */

    #projects{
        .content{
            .project{
                width: 100%;
                justify-content: center;
                .project-details{
                    width: 42%;
                }
            }
            .nav-btns{
                margin-top: 5rem;
                .btns{
                    padding: 0.7rem 1rem;
                    font-size: 0.9rem;
                }
            }
        }
    }
    .projects{
        width: 360px;
        margin-right: 2rem;
    }
    /* common footer for pages in this range */
    #footer{
        padding: 1rem;
        .about{
            .footer-logo{
                max-width: 80%;
            }
        }
        .contact{
            width: 33%;
            .detail{
                margin-right: 0;
                .contact-detail{
                    font-size: 0.8rem;
                }
                
                
            }
            .address{
                flex-basis: 30%;
            }
        }
        .footer-services{
            .links{
                .shortcut-links{
                    font-size: 0.8rem;
                }
            }
        }
    }
}