@media (min-width: 376px) and (max-width: 430px) {
    .home-slider{
        .owl-dots{
            left: 33%;
        }
    }
    #team{
        .content{
            .team-members{
                .core-team, .associates{
                    .team-card-container{
                        flex-direction: row;
                        .team-card{
                            .member-detail{
                                align-items: flex-start;
                            }
                        }
                    }
                }
            }
        }
    }
    #projects-landing{
        .content{
            padding: 0 0 3rem 0;
            .project-card{
                .project-link{
                    img{
                        max-width: 155px;
                    }
                    .title-block{
                        .title{
                            font-size: 0.6rem;
                        }
                    }
                }
            }
        }
    }
    #footer {
        .main-footer-one {
            .contact {
                .detail {
                    .contact-detail {
                        font-size: 0.9rem;
                    }
                }
            }
            .main-footer-two {
                .main-contact {
                    .address {
                        .detail {
                            .contact-detail {
                                font-size: 0.9rem;
                            }
                        }
                    }
                }
            }
        }
        .footer-services {
            .links {
                .shortcut-links-column {
                    .shortcut-links {
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }
    .mobile-menu{
        .menu-link{
            .material-icons{
                font-size: 1.5rem;
            }
        }
    }
}
