@media (min-width: 1200px) and (max-width: 1899px) {
    .home-slider{
        .owl-nav{
            button.owl-next span, button.owl-prev span{
                height: 5rem;
                font-size: 3.5rem;
            }
        }
    }
    #home{
        .content{
            width: 55%;
        }
    }
    .team-hero {
        background: url(../../images/team-hero-lap-resp.jpg);

        background-position: center;
        background-repeat: no-repeat;
    }
    #team{
        .content{
            .member-box{
                .member-card-box{
                    .member-card{
                        .member-image{
                            max-width: 40%;
                        }
                    }
                }
            }
        }
    }
    #projects-landing {
        .content {
            justify-content: flex-start;
            .project-card {
                flex-basis: 25%;
            }
        }
    }
    #projects {
        .content {
            width: 65%;
            .project {
                min-height: 40vh;
            }
        }
    }
    footer {
        justify-content: space-evenly;
        padding: 2rem 5rem 1rem;
        .fas,
        .far {
            font-size: 1.2rem;
        }
        .about,
        .contact,
        .address {
            width: 33%;
        }
        .contact,
        .address {
            padding-top: 0.5rem;
        }
        .contact {
            .contact-detail {
                margin-bottom: 0.3rem;
            }
        }
    }
    .footer-services {
        padding: 1rem 5rem;
        .footer-services-names-box{
            
            .footer-services-heading {
                font-size: 1rem;
            }
            .footer-services-names {
                font-size: 0.8rem;
            }
        }
    }
}
